<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {{{title}}}
    </title>

</head>
<body id="body">
    {{{body}}}
    <link rel = "stylesheet" href = "../public/css/lab10.css">
    <script src="../public/js/hobokenhappenings.js"></script>
</body>
</html>