<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        {{{title}}}
    </title>

</head>
<body id="body">
     {{#if auth}}
      <div class="nav">
        <a href="/auth/logout">Logout</a>
        <a href="/attractions/">Upcoming Attractions</a>
      </div>
    {{/if}}
    {{{body}}}
    <link rel = "stylesheet" href = "../public/css/hobokenhappenings.css">
    <script src="../public/js/hobokenhappenings.js"></script>
</body>
</html>