<main>
    <form class="column-form" id="selection" action="/attractions/submissions" method="POST">
            {{#if attractions.length}}
                <h1>Choose an attraction to view submissions for: </h1>
                <select name="attractionName" id="attractionName">
                {{#each attractions}}
                    <option value="{{this.attractionName}}">{{this.attractionName}}</option>
                {{/each}}
                </select>
                <br/>
                <label for="submit">
                    <button type="submit" name="submit" id="submit">Submit</button>
                </label>
            {{else}}
                <a href="/attractions/create">create an attraction first!</a>
            {{/if}}
    </form>
</main>