<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript File Upload</title>
</head>
<body>
    <form>
        <label for="attractionName">Attraction Name:</label>
        <input type="text" id="attractionName" name="attractionName">

        <label for="pointsOffered">Points Offered:</label>
        <input type="number" id="pointsOffered" name="pointsOffered">

        <label for="bonusPoints">Bonus Points:</label>
        <input type="number" id="pointsOffered" name="pointsOffered">

        <label for="date">Bonus Points:</label>
        <input type="date" id="date" name="date">

        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime">

        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime">

        <label for="image">Attraction Image</label>
        <br/>
        <input 
            type="file"
            id="image"
            accept=".img,.jpeg,.png"
        >
        <br/>
        <button type="submit">Submit</button>
    </form>

</body>
</html>

