<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript File Upload</title>
</head>
<body>
    <form>
        <label for="image">Attraction Image</label>
        <br/>
        <input 
            type="file"
            id="image"
            accept=".img,.jpeg,.png"
        >
        <br/>
        <button type="submit">Submit</button>
    </form>

</body>
</html>

