<head>
    <h2>Edit Attractions</h2>
        <p>If you don't want to change a field, input the same information as before.</p>
    <style>
       input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  #editAttraction-form {
    {{!-- max-width: 400px; --}}
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
  }
  main {
    display: flex;
    justify-content: left;
    align-items: center;
    /* height: 100vh; */
}
  #navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3066BE;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

#navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: #0074d9;
}
label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}
.column {
    display: flex;
    flex-direction: column;
    /* background-color: #F1FFE7; */
}

.row {
    display: flex;
    flex-direction: row;
    background-color: #fff;
}


</style>
</head>
<main>
        <form action="/attractions/editAttraction/{{attractions.attractionName}}" method="post" id="editAttraction-form" enctype="multipart/form-data">

        {{!-- <label for="businessIDInput">
        BusinessID:
        <input type="text" id="businessIDInput" name="businessIDInput">
    </label> --}}

    <label for="attractionName">
        Attraction Name:
        <input type="text" id="attractionName" name="attractionName">
    </label>

    <label for="pointsOffered">
        Points Offered:
        <input type="text" id="pointsOffered" name="pointsOffered">
    </label>

    <label for="description">
        Attraction Description:
        <input type="text" id="description" name="description">
    </label>

    <label for="date">
        Date of Attraction:
        <input type="text" id="date" name="date">
    </label>

    <label for="startTime">
        Start Time:
        <input type="text" id="startTime" name="startTime">
    </label>

    <label for="endTime">
        End Time:
        <input type="text" id="endTime" name="endTime">
    </label>

    <label for="bonusPoints">
        Bonus Points:
        <input type="text" id="bonusPoints" name="bonusPoints">
    </label>

    <label for="image">Attraction Image</label>
        <br/>
        <input 
            type="file"
            id="image"
            accept=".img,.jpeg,.png"
            name="image"
        >
        <br/>

            <h3>Select tags that relate to this event:</h3>

    <fieldset>
        <div class = "check">
            <label for="interestsInput1">City-wide Events</label>
            <input type="checkbox" id="interestsInput1" name="interestsInput1">
            
        </div>
        
        <div class = "check">
            <label for="interestsInput2">Business/Restaurant Events</label>
            <input type="checkbox" id="interestsInput2" name="interestsInput2">
            
        </div>    
       
        <div class = "check">
            <label for="interestsInput3">Art Events</label>
            <input type="checkbox" id="interestsInput3" name="interestsInput3">
            
        </div>
       
        <div class = "check">
            <label for="interestsInput4">Cultural Events</label>
            <input type="checkbox" id="interestsInput4" name="interestsInput4">
            
        </div>
        
       <div class = "check">
            <label for="interestsInput5">Volunteering Events</label>
            <input type="checkbox" id="interestsInput5" name="interestsInput5">
            
       </div>
    </fieldset>

        {{#if error}}
            <p>{{message}}</p>
        {{/if}}

        <br>     
        <input type="hidden" name="_method" value="PUT">
        <button type="submit">Submit</button>
    </form>
</main>
