<main>
    <div class="column">
        <h2>Edit Profile</h2>
        <p>If you don't want to change a field, input the same information as before.</p>
        
        <form action="/user/{{user.username}}" method="post" id="editUser-form" class="column">

            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName">

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName">

            <label for="emailAddress">Email:</label>
            <input type="email" id="emailAddress" name="emailAddress">

            <label for="password">Password (must have at least 8 characters, 1 special character, 1 number, and 1 capital letter):</label>
            <input type="password" id="password" name="password">

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword">

            <label for="username">Username: </label>
            <input type="text" id="username" name="username">

            <label for="ageInput">Age:</label>
            <input type="number" id="ageInput" name="ageInput">

                    <h3>Please select all events you are interested in:</h3>

        <fieldset>
            <div class = "check">
                <label for="interestsInput1">City-wide Events</label>
                <input type="checkbox" id="interestsInput1" name="interestsInput1">
                
            </div>
            
            <div class = "check">
                <label for="interestsInput2">Business/Restaurant Events</label>
                <input type="checkbox" id="interestsInput2" name="interestsInput2">
                
            </div>    
        
            <div class = "check">
                <label for="interestsInput3">Art Events</label>
                <input type="checkbox" id="interestsInput3" name="interestsInput3">
                
            </div>
        
            <div class = "check">
                <label for="interestsInput4">Cultural Events</label>
                <input type="checkbox" id="interestsInput4" name="interestsInput4">
                
            </div>
            
        <div class = "check">
                <label for="interestsInput5">Volunteering Events</label>
                <input type="checkbox" id="interestsInput5" name="interestsInput5">
                
        </div>
        </fieldset>

            {{#if error}}
                <p>{{message}}</p>
            {{/if}}

            <br>     
            <input type="hidden" name="_method" value="PUT">
            <button type="submit">Submit</button>
        </form>
    </div>
</main>