<main>
    <div class="column">
        <div id="landing">
            <h1 class="starting">Getting started...</h1>
            <div class="column">
                <a href="/user/signup" id="link1">Sign up as only a user</a>
                <br/>
                <a href="/business/signup" id="link1">Sign up with business privileges</a>
            </div>
        </div>
        <a href="/auth/login">Already have an account? <span id="login">Log in</span></a>
    </div>
</main>