<main>
    <div class="rewards">
        <h1>Redeem Rewards</h1>

        <h2>Your points: {{user.points}}</h2>

        <p>Rewards Offered: </p>
        </br>
        <p>Target Gift Cards: </p>
        <div id="target" class="giftcards">
            <p >$5 Target Gift Card: 500 points</p>
            <img class="giftcard" src="https://www.themontessorischool.org/uploads/1/4/0/7/140709692/s778706779831320800_p6_i1_w610.png" alt="$5 Target Gift Card">
            
            <p>$10 Target Gift Card: 1000 points</p>
            <img class="giftcard" src="https://www.themontessorischool.org/uploads/1/4/0/7/140709692/s778706779831320800_p6_i1_w610.png" alt="$10 Target Gift Card">
            
            <p>$15 Target Gift Card: 1500 points</p>
            <img class="giftcard" src="https://www.themontessorischool.org/uploads/1/4/0/7/140709692/s778706779831320800_p6_i1_w610.png" alt="$15 Target Gift Card">
        </div>
        </br>
        <p>Amazon Gift Cards: </p>
        <div id="amazon" class="giftcards">
            <p>$5 Amazon Gift Card: 500 points</p>
            <img class="giftcard" src="https://m.media-amazon.com/images/I/710EvQUfNLL.jpg" alt="$5 Amazon Gift Card">
            
            <p>$10 Amazon Gift Card: 1000 points</p>
            <img class="giftcard" src="https://m.media-amazon.com/images/I/710EvQUfNLL.jpg" alt="$10 Amazon Gift Card">
            
            <p>$15 Amazon Gift Card: 1500 points</p>
            <img class="giftcard" src="https://m.media-amazon.com/images/I/710EvQUfNLL.jpg" alt="$15 Amazon Gift Card">
        </div>

        </br>
        <p>Macy's Gift Cards: </p>
        <div id="macys" class="giftcards">
            <p>$5 Macy's Gift Card: 500 points</p>
            <img class="giftcard" src="https://slimages.macysassets.com/is/image/MCY/products/0/optimized/20880440_fpx.tif?op_sharpen=1&wid=700&hei=855&fit=fit,1&fmt=webp" alt="$5 Macy's Gift Card" style="height:300px">
            
            <p>$10 Macy's Gift Card: 1000 points</p>
            <img class="giftcard" src="https://slimages.macysassets.com/is/image/MCY/products/0/optimized/20880440_fpx.tif?op_sharpen=1&wid=700&hei=855&fit=fit,1&fmt=webp" alt="$10 Macy's Gift Card" style="height:300px">
            
            <p>$15 Macy's Gift Card: 1500 points</p>
            <img class="giftcard" src="https://slimages.macysassets.com/is/image/MCY/products/0/optimized/20880440_fpx.tif?op_sharpen=1&wid=700&hei=855&fit=fit,1&fmt=webp" alt="$15 Macy's Gift Card" style="height:300px">
        </div>
    </div>
</main>