.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: bold;
}

.attractionUrl {
    text-decoration: underline;
    padding: 0px;
    padding-top: 16px;
    font-weight: bold;
  }