/*general*/
.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}


/*forms*/
#login-form {
    margin-top: 100px;
}

#login-form, #signUpBusiness-form, #signUpUser-form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #195c96;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup {
    color: #0074d9;
    text-decoration: none;
}

.error {
    color: red;
}


/*attractions page*/
.attractionUrl {
    text-decoration: underline;
    padding: 0px;
    padding-top: 16px;
    font-weight: bold;
}

.attraction {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


